/body.tmp
/debconf_spec/debconf_specification.html
/debconf_spec/debconf_specification.txt.gz
/head.tmp
/menu-policy.html/
/mime-policy.html/
/perl-policy.html/
/policy.html/
/stamp-build
/version.ent
*.html.tar.gz
*.pdf
*.pdf.gz
*.ps
*.ps.gz
*.tpt
*.txt.gz
