/Process.html
/README.html
/body.tmp
/copyright-format/copyright-format.html
/copyright-format/copyright-format-1.0.html
/debconf_spec/debconf_specification.html
/debconf_spec/debconf_specification.txt.gz
/head.tmp
/menu-policy.html/
/perl-policy.html/
/policy.html/
/stamp-build
/upgrading-checklist.html/
/version.ent
*-1.html
*.html.tar.gz
*.pdf
*.pdf.gz
*.ps
*.ps.gz
*.tpt
*.txt
*.txt.gz
