/Process.html
/README.html
/copyright-format/copyright-format-1.0.html
/debconf_spec/debconf_specification.html
/debconf_spec/debconf_specification.txt.gz
/debian/files
/debian/tmp/
/menu-policy.html/
/perl-policy.html/
/policy.html/
/stamp-build
/stamp-binary
/upgrading-checklist.html/
/version.ent
*-1.html
*.html.tar.gz
*.pdf
*.pdf.gz
*.ps
*.ps.gz
*.tpt
*.txt
*.txt.gz
*.xml.tar.gz
