Source: debian-policy
Section: doc
Priority: optional
Maintainer: Debian Policy List <debian-policy@lists.debian.org>
Standards-Version: ${debian-policy:Version}
Build-Depends-Indep: links, debiandoc-sgml, sp, liburi-perl, libpaperg, tetex-bin, tetex-extra, latex2html, libi18n-langtags-perl, groff, bsdmainutils, pstoedit, tidy, jade, docbook-xml, links

Package: debian-policy
Architecture: all
Recommends: packaging-manual
Suggests: doc-base
Depends: fileutils (>= 4.0)
Conflicts: dpkg-dev (<< 1.4.0.9), doc-base (<< 0.6)
Description: Debian Policy Manual and related documents
 This package contains:
    - Debian Policy Manual
    - Linux Filesystem Hierarchy Standard (FHS)
    - Authoritative list of virtual package names
    - Paper about libc6 migration
    - Policy checklist for upgrading your packages
